<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="edit-form">
        <br><br><br><br><br>
        <% if @user.image.attached? %>
            <%= cl_image_tag @user.image.key, class: "profile-wrapper" %><br><br>
          <% else %>
            <%= image_tag("https://thumbs.dreamstime.com/b/default-avatar-profile-icon-social-media-user-vector-default-avatar-profile-icon-social-media-user-vector-portrait-176194876.jpg") %>
          <%end%>
        <h2 class="username"><%=current_user.username %></h2>
      </div>
    </div><br><br>
    <div class="col-md-8">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group row">
          <%= f.label :name, class: 'col-md-2 form-label' %>
          <div class="col-md-7">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :bio, class: 'col-sm-2 form-label' %>
          <div class="col-sm-7">
            <%= f.text_area :bio, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :username, class: 'col-sm-2 form-label' %>
          <div class="col-sm-7">
            <%= f.text_field :username, required: true, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :email, class: 'col-sm-2 form-label' %>
          <div class="col-sm-7">
            <%= f.text_field :email, required: true, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :password, class: 'col-sm-2 form-label' %>
          <div class="col-sm-7">
            <%= f.password_field :password, class: 'form-control', placeholder: 'Leave blank if you dont want to change it' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :password_confirmation, class: 'col-sm-2 form-label' %>
          <div class="col-sm-7">
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Re-write your password for confirmation' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :status, class: 'col-sm-2 form-label' %>
          <div class="col-sm-3">
            <%= f.radio_button :status, 'true' %>
            <%= f.label :status, 'private' %>
            <%= f.radio_button :status, 'false' %>
            <%= f.label :status, 'public' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :Image, class: 'col-sm-2 form-label' %>
          <div class="col-sm-7">
            <%= f.file_field :image, accept: 'image/png, image/jpg, image/jpeg', class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-9">
            <%= f.submit "Update User Profile", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
