<% @post.comments.each do |comment| %>
  <%= comment.user.username %>
  <%= comment.content %>
  <% if commentor_login(current_user.id, current_user.id) && commentor_login(current_user.id, @post.user_id) %>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% elsif commentor_login(current_user.id, comment.user_id) %>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>
<br>
<% end %>