<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.image, class: "img-circle" if @user.image.attached? %>
    </div>
    
          <div class="">
            <h1> <%= @user.username %> </h1>
            <%= link_to 'New Post', new_user_post_path(@user), class: "btn" %>
            <%= link_to 'Edit', edit_user_path(@user), class: "btn" %>
    
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <h3> 0 Posts </h3>
          </div>
          <div class="col-md-2">
            <h3> 0 followers </h3>
          </div>
          <div class="col-md-2">
            <h3> 0 following </h3>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h3> <%= @user.name %> </h3>
          </div>

          <div class="col-md-2">
            <h4> <%= @user.bio %> </h4>
          </div>
        </div>
      </div>

  </div>
</div>


<% @posts.each do |post| %>
  <br><br><br>
  <b>posted by <%= post.user.username %></b>
  <p><%= post.caption %></p>
  <%= image_tag(@user.image) if @user.image.attached? %>
  <br>
  <%= link_to 'Show This Post', post_path(post) %>
  <br>
  <%= link_to 'Edit This Post', edit_post_path(post) %>
  <br>
  <%= link_to 'Delete This Post', post_path(post, post.user.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
