<br>
<div class="container">
  <div class="feed-post">
    <div class="row">
      <div class="col-md-1">
        <div class="post-profile-wrapper">
          <br>
          <% if post.user.image.attached? %>
            <%= link_to cl_image_tag(post.user.image.key, cloud_name: 'instagram-dev'), user_path(post.user) %>
          <% else %>
            <%= image_tag("https://thumbs.dreamstime.com/b/default-avatar-profile-icon-social-media-user-vector-default-avatar-profile-icon-social-media-user-vector-portrait-176194876.jpg", cloud_name: 'instagram-dev') %>
          <%end%>
        </div>
      </div>
      <div class="col-md-1">
        <br><br><%= link_to "#{post.user.username}", user_path(post.user), class: "username" %>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-8">
        <div class="post-wrapper">
          <%= link_to cl_image_tag(post.images.first.key), post_path(post) if post.images.attached? %>
        </div>
      </div>
      <div class="col-md-1">
        <br><br><%= link_to "#{post.user.username}", user_path(post.user), class: "username" %>
        <% if post_login(current_user.id, post.user_id) %>
          <%= link_to '<i class="glyphicon glyphicon-cog"></i>'.html_safe, edit_post_path(post) %>
        <% end %>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-8">
        <div class="post-wrapper">
          <%= link_to image_tag(post.images.first), post_path(post) if post.images.attached? %>
        </div>
      </div>
    </div>
  </div>
</div><br>
