<h1>Create New Post</h1>
<%= form_with(model: @post, local: true) do |form| %>
  <div class="field">
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :Caption %><br>
    <%= form.text_area :caption %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
