posted by <%= @post.user.username %> And ID is <%= @post.id %>

<h1> <%= @post.caption %> </h1>
<%= image_tag @post.image %>

<br>
<%= link_to 'Edit This Post', edit_post_path(@post) %>
<br>
<%= link_to 'Delete This Post', post_path(@post, @post.user.id), method: :delete, data: { confirm: 'Are you sure?' } %>
