posted by <%= @post.user.username %> And ID is <%= @post.id %>

<h1> <%= @post.caption %> </h1>
<%= image_tag @post.image if @post.image.attached? %>
<br>
<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(@post), method: :post %>
<% end %>
<br>
<%= link_to 'Edit This Post', edit_post_path(@post) %>
<br>
<%= link_to 'Delete This Post', post_path(@post, @post.user.id), method: :delete, data: { confirm: 'Are you sure?' } %>