<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="post">
        <div class="post-wrapper">
          <% @post.images.each do |image| %>
            <%= image_tag(image) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <br><br>
      <%= image_tag @post.user.image, class: 'img-circle profile-image' if @post.user.image.attached? %>
      <br><br><br><br><br>
      <%= link_to "#{@post.user.username}", user_path(@post.user) %><hr><hr>
      Caption: <%= @post.caption %><br><br>
      <%= render 'likes/like' %><br><br>
      <%= render 'comments/post_comments' %><br>
      <%= link_to "Add Comment", new_post_comment_path(@post) %><br>
      <% if post_login(current_user.id, @post.user_id) %>
        <%= link_to 'Edit This Post', edit_post_path(@post) %>
        <br>
        <%= link_to 'Delete This Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>
